.gallery {
  min-width: 800px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  .gallery__image {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
}
