.App {
  background-color: #323232;
  height: 100%;
position: absolute;
.navbar {
  position: fixed;
  bottom: 0;

}
.navigation {
    
    .nav-item{
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
     &:hover {
         background-color: white;
        .nav-link {
          color: #323232
        }
        
       } 
       &:active {
        background-color: white;
       .nav-link {
         color: #323232
       }
       
      } 
    .nav-link {
      text-align: center;
      color: white;
      padding-left: 20px;
      padding-top: 0;
      padding-right: 20px;
      padding-bottom: 0;
      &:hover {
        color: #323232
      }
    } 
     
    }
  
  }
}

.carousel {
  

  .slide {
    max-height: 326px !important;
  }
  .thumbs-wrapper {
    margin: 10px !important;
    width: 800px;
    overflow-x: scroll !important;
  }
}
